/*Body*/
*{
  font-family: sans-serif;
}



/*Header */
header{
  display: flex;
  height: 64px;
  flex-direction: row;
  width: 100%;
  margin: auto;

}

header img{
  height: 64px;
  padding-left: 24px;
  padding-right: 8px;
}

.titleColmar{
  font-weight: bold;
  font-size: 32px;
  line-height: 1.8;
}

.titleAcademy{
  color: grey;
  font-size: 32px;
  line-height: 1.8;
  padding-right: 46%;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.menu li{
  padding: 0px 8px;
  font-size: 24px;
  justify-content: flex-end;
  line-height: 2.35;
}


/*Top Div*/

.top{
  display: block;
  background-color: grey;
}
